name: CI

on:
  pull_request:
  push:
    branches: 
      - "main"
      - "released"
jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.8.0
          run_install: false

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Lint code for consistent style
        run: bundle exec standardrb
        
      - name: Run tests
        run: bin/rails db:test:prepare test

  verify_components:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: bin/rails g ruby_ui:component:all --force true

      - uses: CatChen/check-git-status-action@v1
        with:
          fail-if-not-clean: true
          push-if-not-clean: false
          request-changes-if-not-clean: false
          targets: 'app'

  docker-build:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }} 
        
      - name: Build and run dev container task
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/ruby-ui/web-devcontainer
          cacheFrom: ghcr.io/ruby-ui/web-devcontainer
          push: always
        

  next-deploy:
    if: github.ref == 'refs/heads/main'
    needs: [test, docker-build, verify_components]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Deploy to Heroku Next
        run: git push https://heroku:${{ secrets.HEROKU_RUBYUI_API_KEY }}@git.heroku.com/rubyui-next.git HEAD:main


  released-deploy:
    if: github.ref == 'refs/heads/released'
    needs: [test]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Deploy to Heroku Prod
        run: git push https://heroku:${{ secrets.HEROKU_RUBYUI_API_KEY }}@git.heroku.com/rubyui.git HEAD:main
